:root {
  --logo-font: "Raleway", sans-serif;
  --content-font: "Roboto", sans-serif;
  --accent-color: rgb(33, 150, 243);
  --body-color: rgb(33, 33, 33);
  --description-color: rgb(117, 117, 117);
  --background-color: rgb(47, 48, 58);
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-first-part {
  color: var(--accent-color);
}
.logo-second-part {
  color: rgb(0, 0, 0);
}
.logo-second-part-bottom {
  color: rgb(255, 255, 255);
}
.body {
  font-family: var(--content-font);
  color: var(--body-color);
}
.header {
  width: 1600px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
}
.menu {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.header-contacts {
  display: flex;
  color: rgb(117, 117, 117);
}
.hero-section {
  justify-content: center;
  width: 1600px;
  height: 600px;
  background-color: var(--background-color);
}
.hero {
  color: #fff;
  font-size: 44px;
  line-height: 1, 36;
}
.secondary {
  font-size: 36px;
  line-height: 1, 17;
}
.unit {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
}
.teammate {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18;
}
.modal-button:hover,
.modal-button:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(24, 140, 232);
}
.modal-button {
  color: rgb(255, 255, 255);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 500;
}
.button:hover,
.button:focus {
  color: rgb(255, 255, 255);
  background-color: var(--accent-color);
}
.button {
  background-color: rgb(245, 244, 250);
  cursor: pointer;
  font-weight: 500;
}
.description {
  display: inline;
  color: var(--description-color);
  font-size: 16;
  line-height: 1, 17;
}
.footer {
  background-color: var(--background-color);
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 85;
}
.adress-link {
  color: #fff;
}
.contact-link {
  color: rgba(255, 255, 255, 60%);
}
/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/
